.about {
  min-height: 100vh;
}
.project {
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}
.theme-toggler {
  position: fixed;
  z-index: 3;
  top: 150px;
  left: 5px;
  transform: rotate(-90deg) translate(-100%, 40%);
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  position: relative;
  height: 24px;
  width: 100px;
  transform: scale(1.5);
}
.label span {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 0.8rem;
}
.label .ball {
  background-color: rgba(255, 255, 255);
  border-radius: 50px;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 20px;
  width: 44px;
  transform: translateX(50px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(0px);
}

.fa-moon {
  color: #fff;
}

.fa-sun {
  color: #f39c12;
}
.dark-mode .label {
  background-color: rgba(229, 229, 229, 0.4);
}
/*-----------------------------------------------------------------*/
/* Fun Facs
/*-----------------------------------------------------------------*/
section {
  position: relative;
}

.parallax .container {
  position: relative;
}

.parallax {
  background-attachment: fixed !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.overlay {
  background: rgba(0, 0, 0, 0.5) repeat;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#facts {
  background: url("../images/parallax/lap.jpeg") no-repeat;
  padding: 150px 0px 100px;
}

.facts-box {
  text-align: center;
}

.facts-box h3 {
  font-size: 40px;
  margin-bottom: 12px;
  color: #fff;
  font-weight: 700;
}

.facts-box span {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.facts-box i {
  color: #fff;
  font-size: 50px;
  margin-bottom: 30px;
}

/*-----------------------------------------------------------------*/
/* Services
/*-----------------------------------------------------------------*/

#services {
  padding-bottom: 50px;
  background: #fff;
}
.dark-mode #services {
  background: black;
}
.services-box {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 50px;
  padding: 29px 10px 20px;
  border-radius: 9px;
}
.dark-mode .services-box {
  text-align: center;
  margin-bottom: 50px;
  padding: 29px 10px 20px;
  background-color: rgba(240, 238, 255, 0.1);
  border-radius: 9px;
}

.services-box:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
.title-box {
  border-bottom-width: 0px;
  margin-bottom: 75px;
  position: relative;
  padding-top: 20px;
}

.title-box h2.title {
  font-weight: 700;
  font-size: 29px;
  line-height: 32px;
  text-transform: uppercase;
}

.title-box h2:before {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  margin: -22px auto;
  position: absolute;
  width: 40px;
  background: #262727;
}
.dark-mode .title-box h2:before {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  margin: -22px auto;
  position: absolute;
  width: 40px;
  background: #fff;
}
.title-box.white h2.title:before {
  background: #fff;
}

.title-box.white h2.title {
  color: #fff;
}

.title-box.text-center h2:before {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  right: 0;
  margin: -22px auto;
  position: absolute;
  width: 40px;
  background: #575051;
}

.title-box.text-right:before {
  left: auto;
  right: 0;
}

.title-box.text-center:before {
  left: 50%;
  margin-left: -20px;
}

.services-box .services-icon {
  width: 80px;
  height: 80px;
  color: #fff;
  font-size: 38px;
  line-height: 80px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px auto;
  background: #ff1493 none repeat scroll 0% 0%;
}

.services-box .services-desc {
  margin-top: 25px;
}

.services-box .services-desc h4 {
  margin: 31px 0px 20px;
}
.services-desc p {
  color: #575051;
}
.dark-mode .services-desc p {
  color: #a9a9a9;
}

/*-----------------------------------------------------------------*/
/* History
/*-----------------------------------------------------------------*/

#history {
  background: url("../images/parallax/lights.jpeg");
}

ul.timeline {
  margin: 40px auto 0;
  width: 100%;
  background: url("../images/timeline-bg.jpg") center center repeat-y;
  height: auto;
  position: relative;
  padding: 0 0 80px;
  z-index: 200;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row {
  display: flex;
}
.wrapper .row-1 {
  justify-content: flex-start;
}
.wrapper .row-2 {
  justify-content: flex-end;
}
.wrapper .row section {
  background: rgba(0, 0, 0, 0.7);

  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before {
  right: -7px;
}
.row-2 section::before {
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff7979;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon {
  top: 15px;
  right: -60px;
}
.row-2 section .icon {
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
.row section .details span {
  color: #fff;
}
.row section p {
  color: #fff;
  margin: 10px 0 17px 0;
}
.row section .bottom a {
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover {
  transform: scale(0.97);
}
@media (max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row-1 section .icon {
    left: -60px;
  }
}
@media (max-width: 440px) {
  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .wrapper .row {
    margin: 10px 0;
  }
}

.holder {
  margin: 50px auto;
}
.holder .parent {
  background-color: white;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
  border-radius: 7px;
}
.holder .parent h3 {
  text-align: center;
  font-size: 25px;
  margin: 20px;
}
form {
  display: block;
  border-bottom: 1px dashed #ccc;
  margin-left: 20px;
  margin-right: 20px;
}
form > div {
  margin: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
form > div::before {
  content: "\f007";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  color: #777;
  left: -1px;
}
form > div:nth-child(2):before {
  content: "\f2b6";
}
form > div:nth-child(3):before {
  content: "\f023";
}
form > div:nth-child(4):before {
  content: "\f023";
}
form div input {
  border: none;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  margin-left: 10px;
}
div input + .border {
  position: absolute;
  left: 50%;
  bottom: -1px;
  background-color: #3498db;
  height: 1px;
  width: 0;
  transition: 0.3s;
  display: block;
}
div input:focus + .border {
  width: 100%;
  left: 0;
}
form .private-inp {
  border: none;
  font-family: "work sans", sans-serif;
  display: block;
  margin: auto;
  background: #2196f3;
  width: 90%;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
form p {
  margin: 20px;
  text-align: center;
  font-size: 12px;
  color: #777;
  padding: 15px;
}
form p a {
  text-decoration: none;
  font-weight: bold;
  color: #2196f3ed;
}
.parent h4 {
  text-align: center;
  color: #777;
}
.social {
  text-align: center;
}
.social i {
  width: 40px;
  height: 40px;
  background: #3b5998;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  color: white;
}
.social i:nth-child(2) {
  background: #1da1f2;
}
.social i:nth-child(3) {
  background: #db4437;
}
:focus::placeholder {
  opacity: 0;
  transition: 0.5s;
}

.signup__container {
  background-color: #0c0c0d;
}
